html {
    font-size: 62.5%; /* 1rem = 10px */
    color: black;
    box-sizing: border-box;
    background-color: black;
}

*, *:before, *:after {
    box-sizing: inherit;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 1.6rem; /* 16px */
}

header, footer {
    background-color: black;
    color: green;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

header {
    border-bottom: 2px solid green;
}

footer {
    border-top: 2px solid green;
}

main {
    display: flex;
    justify-content: center;
    min-height: 100vh;
    text-align: center;
    cursor: default;
    /* border: 1px solid green; */
    font-size: 1rem;
    font-weight: bold;
}

.row {
    width: 1rem;
    height: 1.5rem;
    /* Flip/Mirror */
    -moz-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
    transform: scale(-1, 1);
}

.row.wet {
    color: hsl(120, 100%, 0%);
    transition: none;
}

div.row.drop {
    color: hsl(120, 100%, 100%);
    transition: none;
}

div.row.drop-clear {
    color: hsl(120, 100%, 0%);
    /*
    transition: color 5s cubic-bezier(0.5, 1, 0.89, 1); /* easeOutQuad */
}

/* Slide Classes */

/* Slide Down AND Slide Up */

.slide-down-container,
.slide-up-container {
    position: fixed;
    left: 0;
    width: 100%;
    z-index: 1;
}

.slide-down,
.slide-up {
    position: relative;
    content: "";
}

.slide-down-content,
.slide-up-content {
    position: absolute;
    width: 100%;
    height: 100%;
    transition-duration: 500ms;
    transition-timing-function: ease-out;
}

/* Slide Down */

.slide-down-container {
    top: 0;
}

.slide-down {
    padding-bottom: 15vh;
}

.slide-down-content {
    top: -15vh;
    transition-property: top;
}

.slide-down-container:hover .slide-down-content {
    top: 0;
}

/* Slide Up */

.slide-up-container {
    bottom: 0;
}

.slide-up {
    padding-top: 15vh;
}

.slide-up-content {
    bottom: -15vh;
    transition-property: bottom;
}

.slide-up-container:hover .slide-up-content {
    bottom: 0;
}