html {
    font-size: 62.5%; /* 1rem = 10px */
    color: black;
    box-sizing: border-box;
    background-color: black;
}

*, *:before, *:after {
    box-sizing: inherit;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 1.6rem; /* 16px */
}

main {
    min-height: 100vh;
    text-align: center;
    display: flex;
    /* border: 1px solid green; */
    font-size: 1rem;
    font-weight: bold;
}

.col {
    width: 1em;
    flex: 1;
}

.row {
    height: 1.5em;
    /* Flip/Mirror */
    -moz-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
    transform: scale(-1, 1);
}

.row.wet {
    color: hsl(120, 100%, 0%);
    transition: none;
}

div.row.drop {
    color: hsl(120, 100%, 100%);
    transition: none;
}

div.row.drop-clear {
    color: hsl(120, 100%, 0%);
    /*
    transition: color 5s cubic-bezier(0.5, 1, 0.89, 1); /* easeOutQuad */
}